@tailwind base;
@tailwind components;
@tailwind utilities;

.window-scrollbar {
  overflow-y: auto;
  overflow-x: hidden;

  @apply [scrollbar-color:_theme("colors.slate.200")_theme("colors.slate.100")];
  @apply dark:[scrollbar-color:_theme("colors.slate.700")_theme("colors.slate.800")];
}

/* Hide native scrollbar when on monaco editor */
#window-content:has(.monaco-editor).window-scrollbar {
  overflow-y: hidden;
  padding-right: 0;
}
